* {
  font-family: 'Russo One', sans-serif;
  color: #2E3D49;
}

body {
  text-align: center;
}

button {
  background-color: #4286f4;
  color: white;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
}

.red {
  background: #E2594B;
}

.green {
  background: #64D2BC;
}

i {
  user-select: none;
}

.material-icons {
  color: #2E3D49;
}

.material-icons.md-60 {
  font-size: 60px;
}

.material-icons.md-180 {
  font-size: 180px;
}

.material-icons.white {
  color: #FFFFFF;
}

#refresh, td {
  cursor: pointer;
}

table {
  background: linear-gradient(270deg, #673AB7, #009688);
  border-radius: 10px;
  border-spacing: 30px;
  margin: 0 auto;
}

tr {
  height: 125px;
}

td {
  width: 125px;
  border-radius: 10px;
  background: #2E3D49;
}

#check-mark {
  color: #64D2BC;
}

footer {
  margin-top: 20px;
}

@media screen and (max-width: 686px) {
  tr {
    height: 90px;
  }

  td {
    width: 90px;
  }
}

@media screen and (max-width: 546px) {
  tr {
    height: 50px;
  }

  td {
    width: 50px;
  }
}
